/*twitter*/
.tw-dot-thread{
  float:left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #D7DADD;
  box-shadow: 0px 0px 0px 3px white;
  /* mmargin-bottom: -15px; */
  margin-top:0px;
  margin-left:-21px;
}
.tw-dot{
  float:left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #D7DADD;
  margin-bottom: -15px;
}
.tw-usernames, .tw-usernames-w-dot{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
  display: inline-block;
  vertical-align: bottom;
}
.tw-usernames-w-dot{
  max-width:60% !important;
}
.tw-name{
  font-weight:bold;
  cursor: pointer;
  /* vertical-align: baseline; */
}
.tw-name:hover{
text-decoration: underline;
}
.tw-handle{
  color: #657685;
  cursor: pointer;
  /* vertical-align: baseline; */
}
.tw-time{
  color: #657685;
}
.tw-text-gray{
  color: #657685;
}
.tw-text-blue{
  color: #1c94dc !important;
  text-decoration: none !important;
  cursor: pointer;
}
.tw-link{
  color: #1c94dc !important;
  text-decoration: none !important;
  cursor: pointer;
}
.tw-link:visited {
  color: #1c94dc !important;
  text-decoration: none !important;
}
.tw-link:active {
  color: #1c94dc !important;
  text-decoration: none !important;
}
.tw-border-bottom {
  border-bottom: 1px solid #D7DADD;
}
.tw-border-bottom-thick {
  /* border-bottom: 5px solid #dfe5e8; */
  border-bottom: 1px solid #D7DADD;
  border-top: 1px solid #D7DADD;
  background: #E7ECF0;
  height:5px;
  max-width:100%;
}
.twt-comment-buttons{
  max-height: 50px;
  width: 80%;
  max-width: 450px;
  display: block;
}
.tw-img{
  float: center;
  margin: 10px 0px 0px 0px; 
  max-width: 95%;
  /* check on this height  */
  max-height:400px;
  border: 1px solid #D7DADD;
  border-radius: 10px;
}

.tw-qrt-img, .tw-qrt-w-img, .tw-qrt{
  font-size: 1.0em !important;
  display:block;
  width:95%;
  border: 1px solid #D7DADD;
  border-radius: 10px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.tw-qrt-w-img{
  margin: 10px 0px 0px 10px;
  padding:5px 10px 10px 10px;
  min-height: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tw-qrt-img{
  margin: -2px 0px 15px 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tw-qrt{
  width:90%;
  margin: 10px 0px 10px 10px;
  padding:5px 10px 10px 10px;
  min-height: 10px;
}
.tw-qrt-body{
  padding-top: 25px;
}
.tw-tiny-dot{
  vertical-align: middle;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background-color: #D7DADD;
}
.tw-line-vertical {
  margin-left: 22px;
  border-left: 2px solid transparent;
  border-image: linear-gradient(to bottom, lightgray 70%, rgba(255,255,255, 0) 20%);
  border-image-slice: 1;
}

/* can i really just throw border-image-slice in here? is that really allowed (as opposed to putting it after the border-image was declared) */
/* ***it is NOT allowed, just fyi */
.tw-line-vertical-100, .tw-line-vertical-10, .tw-line-vertical-50, .tw-line-vertical-90, .tw-line-vertical2{
  margin-left: 22px;
  border-left: 2px solid transparent;
  border-color: lightgray;
  /* border-image-slice: 1; */
}
.tw-line-vertical2 {
  border-image: linear-gradient(to bottom, lightgray 95%, rgba(255,255,255, 0) 5%);
  border-image-slice: 1;
}
.tw-line-vertical-0{
  margin-left:22px;
}
.tw-line-vertical-10{
  border-image: linear-gradient(to bottom, lightgray 10%, rgba(255,255,255, 0) 90%);
  border-image-slice: 1;
}
.tw-line-vertical-50 {
  border-image: linear-gradient(to bottom, lightgray 50%, rgba(255,255,255, 0) 50%);
  border-image-slice: 1;
}
.tw-line-vertical-90 {
  border-image: linear-gradient(to bottom, lightgray 90%, rgba(255,255,255, 0) 10%);
  border-image-slice: 1;
}
.tw-body{
  font-size: 1.4em;

  /* ao3 spacing fix */
  margin-top: -5px;
}
.tw-footer{
  color: #657685;
  /* font-size: .9em;  */
  margin-top:-10px;
  margin-bottom:5px;
}
.tw-subtext{
  color: #657685;
  /* font-size: .9em; */
  /* padding-bottom:10px; */
}
.tw-retweets-bar{
  /* font-size: .9em; */
  padding:10px 0 10px 0;
  /* idk why this is necessary, maybe smth to do with a shift up 15px somewhere */
  margin-bottom: 15px;
  border-bottom: 1px solid #D7DADD;
  border-top: 1px solid #D7DADD;
  color: #657685;
  font-size: .8em;
}

/* this could be muuuch cleaner but got it cleaned up then hot swapped it in and everything broke?? so it gets to live like this now. */
.tw-no-heart{
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-topbar.jpg") no-repeat;
  display: inline-block;
  height:40px;
  width:100%;
  background-size:100% 40px;
  border-bottom: 1px solid #D7DADD;
  margin-top:-15px;
  margin-bottom:0;
}
.tw-no-heart:hover{
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-topbar-heart.png") no-repeat;
  display: inline-block;
  height:40px;
  width:100%;
  background-size:100% 40px;
}
.tw-thread-indent{
  float:left;
  display: block;
  margin-top:0px !important;
  margin-left:-21px !important;
  margin-bottom: 15px !important;
  
  box-shadow: 0px 0px 0px 3px white;
}
.tw-unviewable{
  border:#EFF2F4 solid 1px;
  border-radius: 10px;
  /* width:95%; */
  color:#54656F;
  background-color: #F7F9F8;
  padding:5px 10px 5px 10px;
  margin:5px;
}
.tw-gray-box{
  background: #C5CFD6;
  width:100%;
  height:120px;
}
.tw-verified-icon{
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-verified.png");
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  display: inline-block;
  vertical-align: sub;
}

/*twitter DMs*/
.tw-check { 
  color: #1Da1f3;
  content: "✓";
  font-weight: bold;
}
.tw-uncheck{
  color: #AAB8C1;
  content: "✓";
  font-weight: bold;
}
.tw-box-left0, .tw-box-left1 {
  color: black;
  background: #e7ecf0;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px;
  border-bottom-left-radius: 0;
  margin-bottom: 3px;
  float: left;
  max-width: 75%;
  clear:both;
  position: relative;
}
.tw-box-left0{
  margin-top: 10px;
}
.tw-box-left1 {
  border-top-left-radius: 0;
}
/* no bg color */
/* might have replaced this in qab2 but idk with what, will have to check **qab1 */
.tw-box-left-round {
  border: 1px solid #e7ecf0;
  border-radius: 12px;
  padding: 10px 40px 10px 10px;
  margin-bottom: 3px;
  float: left;
  max-width: 75%;
  clear:both;
  position: relative;
}
.tw-box-right1, .tw-box-right0 {
  border-width: 1px;
  color: white;
  background: #1Da1f3;
  border-radius: 12px;
  padding: 10px;
  border-bottom-right-radius: 0;
  
  margin-bottom: 3px;
  float: right;
  max-width: 75%;
  clear:both;
  position: relative;
}
.tw-box-right0 {
  margin-top: 10px;
}
.tw-box-right1{
  border-top-right-radius: 0;
}

.tw-time-right, .tw-time-left {
  float: right;
  position: relative;
  color: #667684;
  padding: 2px;
  clear:both;
  font-size:0.8em;
}
.tw-time-left {
  float: left;
}
.tw-time-right{
  float: right;
}

.tw-middle-line {
  text-align: center;
  border-bottom: 1px solid #CDD6DB;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.tw-middle-box {
  background: #fff;
  padding: 0 15px;
  color:#657585;
  font-size:.8em;
  font-weight:bold;
}

.tw-white-img{
  /* filter/brightness not supported by ao3 */
  /* filter: brightness(0.95); */
  /* opacity: 0.8;
  background-color: black; */
}
.tw-img-right0, .tw-img-left0 {
   max-height: 200px;
   overflow:hidden;
   margin-top: 10px;
   border-width: 1px;
   border-radius: 12px;
   border-bottom-right-radius: 0;
   margin-bottom: 3px;
   max-width: 75%;
}
.tw-img-right0{
  float: right;
}
.tw-img-left0 {
  float: left;
}

/* new twitter stuff, should delete/clean a bunch of it  */
.tw-space{
  margin:0;
  height: 20px;
}
.tw-header-text{
  font-size: 12px;
}
.tw-tweet-header, .tw-thread-header, .tw-header{
  font-size:1.2em;
  padding-bottom:5px;
  border-bottom: 1px solid #D7DADD;
}
.tw-tweet-header::after{
  content:"Tweet";
}
.tw-thread-header::after{
  content:"Thread";
}

/* all the nonsense for the viewable impression count twitter icons  */
/* hey... do you need both of these
what is the function of this, was it an ao3 specific fix */
p.tw-small-icon-buffer{
  height:15px;
  margin-bottom:-10px;
  /* margin-top: -15px; */
}

.tw-small-icon-table{
  display: table;
  position:absolute;
  left:0;
  /* max-width:600px; */
  width: 100%;
  margin-right:20px;
  /* for ao3's nonsense */
  margin-top: -20px;
  /* ao3 stopped the nonsense? */
  /* alternatively, we just make a wrapper for twitter and kill the p margins */

  overflow: hidden;
  -webkit-text-stroke-width: 0;
  white-space: nowrap;
}
.tw-small-icon-cell-link{
  display: table-cell;
  height: 30px;
  min-width: 70px;
  text-align: left;
  font-size: .8em;
  padding-left:5px;
  color:gray;
  vertical-align: middle;
}
.tw-small-icon-cell-link::before{
  content: '';
  display: inline-flex;
  height:30px;
  width:30px;
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-icon-link.png") no-repeat;
  background-size:30px 30px;
  cursor: pointer;
  vertical-align: -70%;
  padding-right:15px;
}
.tw-test{
  margin-left:30px;
  margin-top:-25px;
}
.tw-small-icon-cell-reply-buffer{
  /* ao3 wants this to exist, but for there to be no poperties in it. yeah. */
  /* width:20px; */
  width:0px;
}
.tw-small-icon-cell-bubble{
  display: table-cell;
  height: 30px;
  min-width:100px;

  text-align: left;
  font-size: .8em;
  padding-left:5px;
  color:gray;
  vertical-align: middle;
}
.tw-small-icon-cell-bubble::before{
  content: '';
  display: inline-flex;
  height:30px;
  width:30px;
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-icon-bubble.png") no-repeat;
  background-size:30px 30px;
  cursor: pointer;

  vertical-align: -70%;
  padding-right:15px;

  /* this value has to change depending on if its a main tweet or tweet thread, i think */
  margin-left:37px;
}
.tw-small-icon-cell-heart{
  display: table-cell;
  height: 30px;
  min-width:70px;

  text-align: left;
  vertical-align: middle;
  font-size: .8em;
  padding-left:5px;
  color:gray;
  vertical-align: middle;
}
.tw-small-icon-cell-heart::before{
  content: '';
  display: inline-flex;
  height:30px;
  width:30px;
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-icon-heart.png") no-repeat;
  background-size:30px 30px;
  cursor: pointer;

  vertical-align: -70%;
  padding-right:15px;
}
/* this is broken  */
/* delete it?  */
.tw-small-icon-cell-heart::before:hover{
  display: inline-flex;
  height:30px;
  width:30px;
  /* this is currently the same image as above bc discord nuked the old image and i dont have it on hand  */
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-icon-heart.png") no-repeat;
  background-size:30px 30px;
}
.tw-small-icon-cell-retweet{
  display: table-cell;
  height: 30px;
  min-width: 70px;

  text-align: left;
  font-size: .8em;
  padding-left:5px;
  color:gray;
  vertical-align: middle;
}
.tw-small-icon-cell-retweet::before{
  content: '';
  display: inline-flex;
  height:30px;
  width:30px;
  background: url("https://github.com/jihnari/QAB/raw/main/img/tw-icon-retweet.png") no-repeat;
  background-size:30px 30px;
  cursor: pointer;

  vertical-align: -70%;
  padding-right:15px;
}

/* twitter trending code */
/* try deleting this, see what happens */
  div.tw-search-container p
  {
    margin-top:0;
    margin-bottom:0;
  }
  .tw-search-container {
      display: table;
      width: 100%;
      position:relative;
  }
  .tw-search-box{
    display: table-cell;
    background:#ECEDEF;
    border-width: 1px;
    border-radius: 20px;
    padding: 7px 10px 7px 10px;
    color: black;
  }
  .tw-search-box2{
    display: table-cell;
    background:#ECEDEF;
    border-width: 1px;
    border-radius: 20px;
    padding: 7px 10px 7px 10px;
    color: black;

    margin-right:20px;
  }
  .tw-search-text{
      display: table-cell;
      width:85%;
  }
  /* these unfortunately both exist but icon2 is default now */
  .tw-back-icon2{
    width:3.5em;
    height:27px;

    background: url("https://github.com/jihnari/QAB/raw/main/img/tw-arrow.png") no-repeat;
    background-size:27px 27px;

    /* margin-right:40px;
    margin-left:5px; */
    margin: 0 40px 0 5px;

    display: table-cell;
    vertical-align: middle;
  }
  .tw-back-icon{
    height: 27px;
    width: 27px;
    vertical-align:middle;
  
    background: url("https://github.com/jihnari/QAB/raw/main/img/tw-arrow.png") no-repeat;
    background-size:contain;
    display: inline-block;
  
    margin-right:15px;
    margin-left:3px;
  }
  .tw-other-icon{
    width:6em;
    height:2em;

    background: url("https://github.com/jihnari/QAB/raw/main/img/tw-other-icons.png") no-repeat 100% center;
    background-size: 4.5em 2em;

    display: table-cell;
    vertical-align: middle;
  }
  .tw-down-arrow{
    /*change color*/
    border: solid #5F6266;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 4px;
    margin-right:10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float:right;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }
  .tw-big-dot {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    background-color: #D7DADD;
  }
  .tw-tabs{
    width:100%;
    white-space: nowrap;
    padding-bottom:17px;
  }
  .tw-tab-name{
    width: 19%;
    display: inline-block;
    text-align : center;
    cursor:pointer;
  }
  .tw-tab-name-focus{
    color:#18A0FB;
    border-bottom:3px solid;
    padding-bottom: 15px;
    margin-bottom:-18px;
  }
  /* for use on "latest" i think */
  .tw-is-trending{
    color:gray;
    font-size: .8em;
    margin-left:32px;
    margin-top:-10px;
    margin-bottom:-10px;
  }
  .tw-is-trending::before{
    width:12px;
    height:12px;

    background: url("https://github.com/jihnari/QAB/raw/main/img/tw-trending-fire.png") no-repeat;
    background-size:12px 12px;

    margin-right:10px;
    display:inline-block;
    content:"";
    vertical-align: middle;
  }
  .tw-is-trending::after{
  content:" is trending";
  }
